.Home {
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    margin-top: 5%;
}

.Home-title {
    text-align: center;
}

.Home-blurb {
    text-align: center;
    line-height: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.Home #registerBtn {
    text-decoration: none;
}

.Home #registerBtn button{
    background-color: #9ECCDD;
    border: none;
    border-radius: 5px;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px 40px;
    transition: all ease 500ms;
}

.Home #registerBtn button:hover{
    background-color: #badfec;
    border-radius: 50px;
    cursor: pointer;
}

.Home-team {
    text-align: center;
    margin-top: 2rem;
}

