.NewItemForm {
    padding: 1em;
    background-color: #395676;
    color: #bbb;
    border-radius: 1em;
    margin-bottom: 2em;
    text-align: left;
}

.NewItemForm button {
    border: none;
    background-color: rgb(213, 213, 213);
    padding: .2em 1em;
    border-radius: 1em;
    color: #395676;;
    font-size: 15px;
    margin-right: 0.5rem;
}

.NewItemForm button:hover {
    background-color: #a6bbd2;
}


.NewItemForm section {
    margin-top: 1em;
}


.NewItemForm input, .NewItemForm select{
    border: none;
    outline: none;
    background-color: rgb(216, 212, 216);
    padding: .2em 1em;
    border-radius: 1em;
    color: rgb(90, 88, 91);
    font-size: 15px;
    margin-right: 1em;
}
