.Login {
    text-align: center;
}

.Login section {
    width: 90%;
    margin: 3em auto;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
}

.Login form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

.Login input[type="text"],
.Login input[type="password"],
.Login input[type="email"],
.Login button,
.Login textarea {
    border-radius: 0.5rem;
    border-color: #badfec;
    border-style: solid;
    font-size: 1.2rem;
    padding: 0.25rem;
}

.Login label,
.Login button {
  margin-top: 1rem;
}

.Login button {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  text-decoration: none;
  background-color: #9ECCDD;
  color: black;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  transition: all ease 500ms;
}

.Login button:hover{
    background-color: #badfec;
}

.Login .line a{
    color: black;
}

.Login .errmsg  {
    padding: 1.5em;
    background-color: rgb(243, 159, 159);
    color:rgb(143, 10, 10);
    border-radius: 10px;
    font-family: monospace;
    font-size: 1.2em;
    margin-bottom: 0.5rem;
}

.Spinner {
    margin-top: .3em;
}

.Login-button:disabled,
.Login-button[disabled],
.Login-button:disabled:hover,
.Login-button[disabled]:hover {
  background-color: #cccccc;
  color: #666666;
}
