.Wishlist-container {
    width: 90%;
    margin: 3em auto;
    text-align: center;
}

.Wishlist-items {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.Wishlist-items > .Item {
    margin: 1em;
    width: 250px;
}

#Wishlist-new-button {
    position:fixed;
    bottom: 2em;
    right: 3em;
    padding: 1em 2em;
    border: none;
    background-color: #395676;
    border-radius: 10px;
    color: rgb(213, 213, 213);
    font-size: 15px;
    cursor: pointer;
}

#Wishlist-share-button {
    position:fixed;
    bottom: 6em;
    right: 3em;
    padding: 1em 2em;
    border: none;
    background-color: #395676;
    border-radius: 10px;
    color: rgb(213, 213, 213);
    font-size: 15px;
    cursor: pointer;
}

.Wishlist header  {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Wishlist #back {
    align-self: start;
    text-decoration: none;
    color: #395676;
    font-size: 1.2em;
}

.Wishlist #back span {
    margin-left: .8em;
}

.Wishlist h1 {
    align-self: center;
    text-decoration: underline;
}

.Wishlist-tag-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    max-width: 800px;
    margin: 1em;
}

.Wishlist-tag {
    background-color: #395676;
    color:#bbb;
    border-radius: 5px;
    padding: .2em .5em;
    margin: .25em .5em;
}

.Wishlist-tag-content {
    margin-right: .5em;
    color:rgb(213, 213, 213)
}

.Wishlist-tag-x {
    cursor: pointer;
}