.Wishlist-container {
    width: 90%;
    margin: 3em auto;
    text-align: center;

}

.Wishlist-items {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.Wishlist-items > .Item {
    margin: 1em;
    width: 250px;
}


.Wishlist-error  {
    padding: 1.5em;
    background-color: rgb(243, 159, 159);
    color:rgb(143, 10, 10);
    border-radius: 10px;
    font-family: monospace;
    font-size: 1.2em;
}

.Wishlist-feedback  {
    padding: 1.5em;
    background-color: rgb(137, 233, 177);
    color: rgb(59, 88, 55);
    border-radius: 10px;
    font-family: monospace;
    font-size: 1.2em;
}

#Wishlist-new-button {
    position:fixed;
    bottom: 2em;
    right: 3em;
    padding: 1em 2em;
    border: none;
    background-color: #395676;
    border-radius: 10px;
    color: rgb(213, 213, 213);
    font-size: 15px;
}

#Wishlist-share-button {
    position:fixed;
    bottom: 6em;
    right: 3em;
    padding: 1em 2em;
    border: none;
    background-color: #395676;
    border-radius: 10px;
    color: rgb(213, 213, 213);
    font-size: 15px;
}

#Wishlist-unshare-button {
    position:fixed;
    bottom: 10em;
    right: 3em;
    padding: 1em 2em;
    border: none;
    background-color: #395676;
    border-radius: 10px;
    color: rgb(213, 213, 213);
    font-size: 15px;
}

.Wishlist header  {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Wishlist #back {
    align-self: start;
    text-decoration: none;
    color: #395676;
    font-size: 1.2em;
}

.Wishlist #back span {
    margin-left: .8em;
}

.Wishlist h1 {
    align-self: center;
}

.Wishlist #Wishlist-share-button:hover {
    color: #badfec;
    text-decoration: none;
}

.Wishlist h1{
    text-decoration: underline;
}