.ShareForm {
    padding: 1em;
    background-color: #395676;
    color: #bbb;
    width: 100%;
    max-width: 700px;
    border-radius: 1em;
    margin-bottom: 1em;
    text-align: left;
}

.ShareForm input[type="text"],
.ShareForm input[type="password"],
.ShareForm input[type="email"],
.ShareForm textarea {
    border-radius: 0.5rem;
    border-color: #badfec;
    border-style: solid;
    font-size: 1.2rem;
    padding: 0.25rem;
}

.ShareForm button:hover {
    color: #badfec;
    text-decoration: none;
}

.ShareForm-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.ShareForm-exit-button {
    border: none;
    background-color: rgb(213, 213, 213);
    color: #395676;
    font-size: 15px;
    width: 2em;
    height: 2em;
    border-radius: 100%;
}