 .Navbar {
     display: flex;
     align-items: center;
     background-color: rgb(233, 233, 233);
     justify-content: space-between;
     left: 0;
     text-decoration: none;
     position: sticky;
     width: 100%;
     top: 0;
     /* box-shadow: 7px 5px 12px -5px rgba(0, 0, 0, 0.174); */
 }

 

 /*Styles both logos used. The width of the images causes styling the width attibute to change the height of the navbar. Height must therefore be used*/
 #Navbar-logo {
     display: inline-block;
     height: 50px;
 }


 .Navbar a {
     padding: 10px;
     display: inline;
     transition: all ease 500ms;
 }

 /*Styles clickable links found within Navbar. Removes the underline the link*/
 .Navbar a:link {
     text-decoration: none;
     color: black;
 }

 /*Styles the text of the visted clickable links found within Navbar. Removes the underline and sets the purple coloring to black*/
 .Navbar a:visited {
     text-decoration: none;
     color: black
 }

 /*Styles the text of the currently active clickable link found within Navbar. Removes the underline and sets the current active link to blue*/
 .Navbar a.active {
     color: #9ECCDD;
     text-decoration: none
 }

 /*Styles the text of the clickable links found within Navbar when hovered over. Removes the underline and set the coloring to cornflower blue*/
 .Navbar a:hover {
     color: #badfec;
     text-decoration: none;
 }

 /*Styles the Logout button of the Navbar.*/
 .Navbar>button {
    background-color: #9ECCDD;
    border: none;
    border-radius: 16px;
    color: black;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    transition: all ease 500ms;
    margin-right: 1rem;
 }

 /*Styles the Logout button when hovered over. Matches background to navbar color and sets text coloring to cornflower blue*/
 .Navbar button:hover {
     background-color: badfec;
 }

 .Navbar-links {
    border-radius: 5px;
    padding: 1%;
    margin-right: 1rem;
 }