#MyWishlists-add-button {
    position:fixed;
    bottom: 2em;
    right: 3em;
    padding: 1em 2em;
    border: none;
    background-color: green;
    border-radius: 10px;
    color: rgb(213, 213, 213);
    font-size: 15px;
}

.MyWishlists-cards {
    max-width: 600px;
}