.SharedWishlistCard-info-container{
    display: flex;
    align-items:center;
    flex-wrap: nowrap; 
    border-radius: 25px;
    border: 2px solid #badfec;
    margin: 2%;
    background-color: rgb(233, 233, 233);
    justify-content: space-between;
    min-width: max-content;
}

.SharedWishlistCard-info {
    flex: 1; 
    text-align: left;
    padding-left: 2%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.SharedWishlistCard-link {
    align-items: center;
    flex: 1;
    text-decoration: none;
    color: black;
    display: flex;
    align-items:center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.SharedWishlistCard-link:visited, 
.SharedWishlistCard-link:hover {
    text-decoration: none;
    color: rgb(0, 0, 0)
}

.SharedWishlistCard #deleteBtn {
    flex: .02;
    margin-right: .5em;
    margin-left: .5em;
    cursor:pointer;
}