.WishlistForm {
    padding-bottom: .25rem;
    max-width: 300px;
    margin: auto;
}

.WishlistForm input[type="text"] {
    border-radius: 0.5rem;
    border-color: #badfec;
    border-style: solid;
    font-size: 1.2rem;
    padding: 0.25rem;
}
 
.WishlistForm button {
    margin-top: .25rem;
    margin-left: 1em;
    margin-right: 1em;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    background-color: #9ECCDD;
    color: black;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    transition: all ease 500ms;
    cursor: pointer;
}

.WishlistForm button:hover {
    background-color:#badfec;
}