.WishlistForm {
    text-align: center;
}

.WishlistForm button {
    border: none;
    background-color: rgb(57, 86, 118);;
    padding: .2em 1em;
    border-radius: 1em;
    color: rgb(170, 170, 170);
    font-size: 15px
}

.WishlistForm button:hover {
    color: #a6bbd2;
}

.WishlistForm input {
    border: 1;
    outline: none;
    background-color: rgb(255, 253, 253);
    padding: .3em 1em;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    margin: 0 1em 1em 0;
}

.WishlistForm label {
    font-size: 20px;
    font-weight: 600;

}