.WishlistCard {
    padding: 1.5em;
    background-color: rgba(233, 233, 233, 0.573);
    border-radius: 1em;
    text-align: left;
}


.WishlistCard button {
    border: none;
    background-color: rgb(213, 213, 213);
    padding: .2em 1em;
    border-radius: 1em;
    color: #395676;
    font-size: 15px;
    margin-right: 0.5rem;
    cursor: pointer;
}

.WishlistCard button:hover {
    background-color: #a6bbd2;
}

.WishlistCard input {
    border: none;
    outline: none;
    background-color: rgb(170, 170, 170);
    padding: .3em 1em;
    border-radius: 5px;
    color: rgb(83, 83, 83);
    font-size: 15px;
    margin: 0 1em 1em 0;
}

.WishlistCard-link {
    display: block;
    margin-bottom: .7em;
    color: #000000;
    font-size: 20px;
    text-decoration: none;
}

.WishlistCard-link:after {
    color: #000000;
}

.WishlistCard-label {
    font-weight: 600;
}

.WishlistCard header {
    margin-bottom: 1em;
}

.Wishlist-title {
    white-space: pre-wrap;
    word-wrap: break-word;
}