.Register {
    text-align: center;
}

.Register section {
    width: 90%;
    margin: 3em auto;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
}

.Register form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}


.Register input[type="text"],
.Register input[type="password"],
.Register input[type="email"],
.Register button {
  border-radius: 0.5rem;
  border-color: #badfec;
  border-style: solid;
  font-size: 1.2rem;
  padding: 0.25rem;
}

.Register label,
.Register button {
  margin-top: 1rem;
}

.Register button {
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    background-color: #9ECCDD;
    color: black;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    transition: all ease 500ms;
}

.Register button:hover{
    background-color: #badfec;
}


.Register .instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.Register .instructions > svg {
    margin-right: 0.25rem;
}

.Register .offscreen {
    position: absolute;
    left: -9999px;
}

.Register .hide {
    display: none;
}

.Register .valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.Register .invalid {
    color: red;
    margin-left: 0.25rem;
}

.Register .line a{
    color: black;
}

.Register .errmsg  {
    padding: 1.5em;
    background-color: rgb(243, 159, 159);
    color:rgb(143, 10, 10);
    border-radius: 10px;
    font-family: monospace;
    font-size: 1.2em;
    margin-bottom: 0.5rem;
}
.Spinner {
    margin-top: .3em;
}

#registerBtn:disabled,
#registerBtn[disabled],
#registerBtn:disabled:hover,
#registerBtn[disabled]:hover {
  background-color: #cccccc;
  color: #666666;
}


