
.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.Register {
    display: flex;
    flex-direction: row-reverse;
    height: 100vh;
}

.Reigster-container {
    flex: 1;
    align-items: center;
}

.blue{
    background-color: #9ecddd;
    flex: 1;
    height: 100%;
}

.Register input[type=text], input[type=email], input[type=password]{
    border: none;
    border-bottom: 2px solid gray;
    padding: 15px 15px;
    resize: none;
    display: flex;
}

.Register section {
    display: flex;
    flex-direction: column;
}
